.mainDiv{
    background-color: #FFFBD8;
    padding: 4% 20% 5% 20%;
    font-family:'sans-serif';
    display: flex;  
    flex-direction: column;
    gap: 30px;
}
.mainDiv div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    word-spacing: 3px;
    line-height: 30px;
}
.EtsyIndia{
    text-align: center;

}
.EtsyIndia a{
    color: gray;
    text-decoration: underline;
}
.EtsyIndia p{
    font-size: 50px;
    margin: 0%;
    padding: 0%;
}
div h3 {
    color: blue;
    font-size: 20px;
}
.helpCentre{
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.helpCentre button{
    width: 200px;
    border-radius: 50px;
    border: 2px solid black;
    padding: 15px 30px;
    background-color: #FFFBD8;
    font-weight: bolder;
}