.freshBlogBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.freshBlog {
    width: 94%;
    margin-left: 10px;
}

.blogCard {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;

    /* flex-wrap: wrap; */

}

.blogCard>div {
    width: 30%;
    border-radius: 10px;
    /* border: 1px solid gray; */
}

.blogCard>div:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}

/* .blogItem {
    width: 30%;
    border-radius: 10px;
    border: 1px solid gray;
    transition: box-shadow 0.3s ease-in-out, transform 0.2s;
}

.blogItem:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    transform: translateY(-5px);
} */

.fresh_Img img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.fresh_Guide {
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* margin: 7px 15px; */
    text-align: left;

    /* gap: 10px;
    margin: 15px; */


}


/* Media Queries */

/* Mobile: max 480px */

@media screen and (max-width: 480px) {
    .freshBlogBlock h1{
        font-size: x-large;
        text-align: center;
        
    }
    .blogCard {
        display: flex;
        flex-direction: column;
    }

    .blogCard div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-wrap: wrap;

    }
    .blogItem {
        width: 100%;
        border-radius: 20px;
    }

    .fresh_Img img {
        width: 100px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }


    .fresh_Guide h2 {
        /* font-size: 18px; */
    }

    .fresh_Guide p {
        /* font-size: 14px; */
    }

}

/* Tablet: max 768px */
@media screen and (max-width: 768px) {
    .blogCard {
        width: 100%;
    }

    .blogItem {
        width: 100%;
        /* border: 10px solid red; */
    }

    .fresh_Img img {
        width: 100%;
    }

    /* .freshGuide h2 {
        font-size: 20px;
    } */
}

/* Small Laptops: max 1024px */
@media screen and (max-width: 1024px) {
    .blogCard {
        /* flex-wrap: wrap;
        justify-content: center; */
    }

    .blogItem {
        /* width: 45%; */
    }
}

/* Large Screens: min 1025px */
@media screen and (min-width: 1025px) {
    .blogCard {}

    .blogItem {
        /* width: 30%; */
    }
}