#recentlyViewed{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 2px solid rgb(17, 0, 255);

}
#recentlyViewd div h3{
    border: 2px solid red;


}
.img{
    border: 5px solid greenyellow;

}